<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.socket.mapper.InstancemessagelogMapper">
	<select id="selectLogList"  parameterType="java.util.Map" resultType="java.util.Map">
		SELECT sendUserId,context,DATE_FORMAT(sendTime, '%Y-%c-%d %H:%i:%s' ) sendTime
		FROM  instancemessagelog
		where ((sendUserId=#{param.sendUserId}  and recUserId=#{param.recUserId}) or (recUserId=#{param.sendUserId}  and sendUserId=#{param.recUserId}))
		order by id desc limit #{param.offset},#{param.limit}
	</select>
	<!-- 根据条件查询记录数 -->
	<select id="countLog" resultType="java.lang.Integer"  parameterType="java.util.Map" >
		select count(id) from instancemessagelog where ((sendUserId=#{param.sendUserId}  and recUserId=#{param.recUserId}) or (recUserId=#{param.sendUserId}  and sendUserId=#{param.recUserId}))
	</select>
</mapper>
