<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>单聊</title>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <!--[if (IE 6)|(IE 7)|(IE 8)|(IE 9)]>    <![endif]-->
</head>
<body>
<script th:src="@{/layui/layui.js/}"></script>
<script th:src="@{/layui/util.js}"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'jquery'], function () {
        var socket = null;
        var uuid = "[[${uuid}]]";
        var layer = layui.layer, $ = layui.jquery;
        layui.use('layim', function (layim) {
            //判断当前浏览器是否支持WebSocket
            var url="ws://" + window.location.hostname + ":80/ws?uuid="+uuid;
            if (window.WebSocket) {
                socket = new WebSocket(url);
                socket.binaryType="arraybuffer";
            }
            //连接发生错误的回调方法
            socket.onerror = function () {
                socket = new WebSocket(url);
            };
            //连接成功建立的回调方法
            socket.onopen = function () {

            }
            //连接关闭
            socket.onclose = function(event) {
                layim.setFriendStatus(uuid, 'offline');
                layer.confirm('您已下线，重新上线?', function(index){
                    socket = new WebSocket(url);
                    layer.close(index);
                });
            };
            //基础配置
            layim.config({
                //上传图片接口（返回的数据格式见下文）
                uploadImage: {
                    url: '/im/imgUpload' //接口地址
                    , type: 'post'
                },
                //上传文件接口（返回的数据格式见下文）
                uploadFile: {
                    url: '/im/fileUpload' //接口地址
                    , type: 'post' //默认post
                },
                brief: true //简约模式，不显示主面板
            });
            //自定义窗口
            layim.chat({
                name: "[[${user.name}]]" //名称
                ,type: 'friend' //聊天类型
                ,avatar: "[[${user.avatar}]]" //头像
                ,id: "[[${user.uuid}]]" //好友id
            })
            //监听发送消息
            layim.on('sendMessage', function (data) {
                var To = data.to;
                var my = data.mine;
                var message = my.content;
                if ($.trim(uuid) == '') {
                    return;
                }
                if ($.trim(message) == '') {
                    layer.msg("请输入要发送的消息!");
                    return;
                }
                if (socket.readyState == WebSocket.OPEN) {
                    //判断是发送好友消息还是群消息
                    if (To.type == "friend") {
                        socket.send(sedMessage(uuid,To.id,message,type.FRIEND))
                        // layim.setChatStatus('<span style="color:#FF5722;">对方正在输入。。。</span>');
                    }
                }
            });
            //收到消息后
            socket.onmessage = function (event) {
                var msg =JSON.parse(event.data);
                var msgCon = msg.data;
                var cache = layui.layim.cache();
                var local = layui.data('layim')[cache.mine.id];
                var username = "", avatar = "", friend = false;
                layui.each(cache.friend, function (index1, item1) {
                    layui.each(item1.list, function (index, item) {
                        if (item.id == msgCon.sId) {
                            username = item.username;
                            avatar = item.avatar;
                            return friend = true;
                        }
                    });
                    if (friend) return true;
                });
                //显示非自身消息
                if (msgCon.sId != uuid) {
                    if (msg.cmd == cmd.ONLINE) {
                        layer.msg(username + "上线了！");
                        layim.setFriendStatus(msgCon.sId, 'online');
                    } else if (msg.cmd == cmd.OFFLINE) {
                        layer.msg(username + "已下线！");
                        layim.setFriendStatus(msgCon.sId, 'offline');
                    } else {
                        var time = (new Date(msgCon.timestamp)).getTime();
                        if (msg.type == type.FRIEND) {
                            layim.getMessage({
                                username: username
                                , avatar: avatar
                                , id: msgCon.sId
                                , type: "friend"
                                , content: msgCon.msg
                                , timestamp: time
                            });
                        }
                    }
                }
            }
        });
    });
</script>
</body>
</html>