<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>layim</title>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/layui/util.js}"></script>
</head>
<body>
<script th:src="@{/layui/layui.js}"></script>
<!--搜狐获取ip-->
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script type="text/javascript">
    //一般直接写在一个js文件中
    layui.use(['layer', 'jquery'], function () {
        var uuid = "[[${uuid}]]";
        var socket = null;
        var layer = layui.layer
            , $ = layui.jquery;
        var layim=layui.layim;
        //拉取离线消息
        var showOfflineMsg = function (layim) {
            $.ajax({
                type: "get",
                url: "/im/getOfflineMsg",
                async: true,
                data: {"uuid":uuid},
                success: function (msg) {
                    var data=msg.data.list;
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            layim.getMessage({
                                username: $.trim(data[i].name)== ''?data[i].names:data[i].name
                                , avatar: msg.data.avatar
                                , id: data[i].sendUserId
                                , type: "friend"
                                , content: data[i].context
                                , timestamp: data[i].createdate
                            });
                        }
                    }
                }
            });
        }
        layui.use('layim', function (layim) {
            //判断当前浏览器是否支持WebSocket
            var url="ws://" + window.location.hostname + ":80/ws?uuid="+uuid;
            if (window.WebSocket) {
                socket = new WebSocket(url);
                socket.binaryType="arraybuffer";
            }
            //连接发生错误的回调方法
            socket.onerror = function () {
                socket = new WebSocket(url);
            };
            //连接关闭
            socket.onclose = function(event) {
                layim.setFriendStatus(uuid, 'offline');
                layer.confirm('您已下线，重新上线?', function(index){
                    socket = new WebSocket(url);
                    layer.close(index);
                });
            };
            //连接成功建立的回调方法
            socket.onopen = function () {
                // socket.send(onopen(uuid,groupId,returnCitySN.cip));
            }
            //基础配置
            layim.config({
                init: {
                    url: '/im/getUsers' //接口地址（返回的数据格式见layim文档）
                    , type: 'get' //默认get，一般可不填
                }, //获取主面板列表信息
                title: "我的IM"
                , notice: true,
                //上传图片接口（返回的数据格式见下文）
                uploadImage: {
                    url: '/im/imgUpload' //接口地址
                    , type: 'post'
                },
                //上传文件接口（返回的数据格式见下文）
                uploadFile: {
                    url: '/im/fileUpload' //接口地址
                    , type: 'post' //默认post
                },
                isgroup: false,
                copyright: true,
                //聊天记录页面地址，若不开启，剔除该项即可
                chatLog: '/im/chatLog'
            });
            layim.on('ready', function (res) {
                //取得离线消息
                showOfflineMsg(layim)
                layim.setFriendStatus(uuid, 'online');
            });
            //监听发送消息
            layim.on('sendMessage', function (data) {
                var To = data.to;
                var my = data.mine;
                var message = my.content;
                if ($.trim(uuid) == '') {
                    return;
                }
                if ($.trim(message) == '') {
                    layer.msg("请输入要发送的消息!");
                    return;
                }
                // if (getKeyword(message)) {
                //     layer.msg("你输入的有敏感字符！");
                //     return;
                // }
                if (socket.readyState == WebSocket.OPEN) {
                    //判断是发送好友消息还是群消息
                    if (To.type == "friend") {
                        socket.send(sedMessage(uuid,To.id,message,type.FRIEND))
                        // layim.setChatStatus('<span style="color:#FF5722;">对方正在输入。。。</span>');
                    }
                }
            });

            layim.on('online', function (status) {
                //console.logs(status); //获得online或者hide
                //websocket发送在线或离线消息给好友
            });
            //收到消息后
            socket.onmessage = function (event) {
                var msg =JSON.parse(event.data);
                var msgCon = msg.data;
                var cache = layui.layim.cache();
                var username = "", avatar = "", friend = false;
                layui.each(cache.friend, function (index1, item1) {
                    layui.each(item1.list, function (index, item) {
                        if (item.id == msgCon.sId) {
                            username = item.username;
                            avatar = item.avatar;
                            return friend = true;
                        }
                    });
                    if (friend) return true;
                });
                //显示非自身消息
                if (msgCon.sId != uuid) {
                    if (msg.cmd == cmd.ONLINE) {
                        layer.msg(username + "上线了！");
                        layim.setFriendStatus(msgCon.sId, 'online');
                    } else if (msg.cmd == cmd.OFFLINE) {
                        layer.msg(username + "已下线！");
                        layim.setFriendStatus(msgCon.sId, 'offline');
                    } else {
                        var time = (new Date(msgCon.timestamp)).getTime();
                        if (msg.type == type.FRIEND) {
                            layim.getMessage({
                                username: username
                                , avatar: avatar
                                , id: msgCon.sId
                                , type: "friend"
                                , content: msgCon.msg
                                , timestamp: time
                            });
                        }
                    }
                }
            };
        });
        //判断发送数据是否包含特殊字符
        // function getKeyword(msg) {
        //     $.ajaxSettings.async=false;
        //     var check=false;
        //     $.getJSON('/keyword.json', function (json) {
        //         if (json != null && json.length > 0) {
        //             for(var i=0;i<json.length;i++){
        //                 // var n = msg.search(json[i]);
        //                 if (msg==json[i]) {
        //                     //过滤关键字
        //                     check=true;
        //                     return;
        //                 }
        //             }
        //         }
        //     });
        //     $.ajaxSettings.async=true;
        //     return check;
        // }
    });
</script>
</body>
</html>